<ion-view view-title="Cards">
    <ion-content>
        <ion-list ng-repeat="deck in cards">
            <div class="card">
                <div class="item item-text-wrap">
                    Deck #{{ $index + 1 }}
                </div>
                <ion-list ng-repeat="card in deck">
                    <div class="card">
                        <div class="item item-text-wrap" on-tap="showTrans=!showTrans">
                          <span ng-show="showTrans"> {{ card.english }} </span> <span ng-show="!showTrans"><strong>{{ card.translated }}</strong></span>
                        </div>
                    </div>
                </ion-list>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
