<ion-view view-title="LingoTag">
  <ion-content class="padding" has-bouncing="false">

          <div class="item item-image">
              <img ng-src="{{src}}">
          </div>

          <button class="button button-calm button-full" ng-click="takePhoto()" ng-show="!pictureTaken"> Take a picture!</button>
          <div ng-show="pictureTaken" class="button-bar">
              <button class="button button-dark" ng-click="takePhoto()"> Retake </button>
              <button class="button button-balanced" ng-click="showTags()"> Use Photo </button>
          </div>
          <p ng-show="isError">{{ error }}</p>
  </ion-content>
</ion-view>
