<ion-view view-title="Choose a Language">
  <ion-content has-bouncing="false">
      <ion-list>
          <ion-radio ng-model="choice" ng-value="'C'" ng-click="changeLang('af')">Afrikaans</ion-radio>
          <ion-radio ng-model="choice" ng-value="'C'" ng-click="changeLang('fr')">French</ion-radio>
          <ion-radio ng-model="choice" ng-value="'C'" ng-click="changeLang('de')">German</ion-radio>
          <ion-radio ng-model="choice" ng-value="'C'" ng-click="changeLang('it')">Italian</ion-radio>
          <ion-radio ng-model="choice" ng-value="'B'" ng-click="changeLang('pt')">Portuguese</ion-radio>
          <ion-radio ng-model="choice" ng-value="'B'" ng-click="changeLang('es')">Spanish</ion-radio>

      </ion-list>
  </ion-content>
</ion-view>

