<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Photo Tab -->
  <ion-tab title="Photo" icon-off="ion-camera" icon-on="ion-camera" href="#/tab/photo">
    <ion-nav-view name="tab-photo"></ion-nav-view>
  </ion-tab>

  <!-- Cards Tab -->
  <ion-tab title="Cards" icon-on="ion-ios-browsers" icon-off="ion-ios-browsers-outline" href="#/tab/account">
    <ion-nav-view name="tab-cards"></ion-nav-view>
  </ion-tab>
  
  <!-- Language Settings Tab -->
  <ion-tab title="Languages" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/languages">
      <ion-nav-view name="tab-languages"></ion-nav-view>
  </ion-tab>
  
  <ion-tab title="Tags" hidden="true">
      <ion-nav-view name="tab-tagselect"></ion-nav-view>
  </ion-tab>


</ion-tabs>
